<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>

	<div>
		<h4>Employees</h4>
		<table>
			<thead>
				<tr>
					<th>Employee Name</th>
					<th>Employee Surname</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="tempEmployee : ${employees}">
					<td th:text="${tempEmployee.firstName}" />
					<td th:text="${tempEmployee.lastName}" />
				<tr>
			</tbody>
		</table>
	</div>
	
		<!-- <div>
		<h4>Departments</h4>
		<table>
			<thead>
				<tr>
					<th>Department Name</th>
					<th>Department Location</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="tempDepartment : ${departments}">
					<td th:text="${tempDepartment.deptName}" />
					<td th:text="${tempDepartment.locationId}" />
				<tr>
			</tbody>
		</table>
	</div> -->
	
</body>