<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>

		<div class="container">
			<h3 style="text-align:center">List of Employees</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Job</th>
				<th>Manager Id</th>
			
				<th>Salary</th>
				<th>Comm</th>
				
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
			
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.job}" />
				<td th:text="${tempEmployee.mngId}" />
				
				<td th:text="${tempEmployee.salary}" />
				<td th:text="${tempEmployee.comm}" />
				
				
			</tr>
		</tbody>		
	</table>
</div>	
<br>
<div class="container">
		<h3 style="text-align:center">List of Departments</h3>
		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Department Name</th>
					<th>Department Description</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempDepartment : ${departments}">

					<td th:text="${tempDepartment.deptName}" />
					<td th:text="${tempDepartment.deptDescription}" />	
			</tr>
		</tbody>		
	</table>
</div>	

	
</body>

</html>