<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>

	<div class="container">
		<h3>Department Locations</h3>
		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Department Name</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempLoc : ${locs}">

					<td th:text="${tempLoc.locationName}" />
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>