<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: navbar"></nav>

<body>


	<div class="container">
		<h3>List of Departments</h3>
		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Department Name</th>
					<th>Department Located in:</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempDepartment : ${departments}">

					<td th:text="${tempDepartment.deptName}" />
					<td th:text="${tempDepartment.departmentLocations.locationName}" />	
				
			</tr>
		</tbody>		
	</table>
</div>	
	
</body>

</html>